{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Shopping Cart - Cart {{ template_data.active_cart }}</h2>
        <hr />
        <div class="btn-group" role="group" aria-label="Select Cart">
          <a href="{% url 'cart.view' cart_id=1 %}" class="btn {% if template_data.active_cart == 1 %}btn-primary{% else %}btn-outline-primary{% endif %}">Cart 1</a>
          <a href="{% url 'cart.view' cart_id=2 %}" class="btn {% if template_data.active_cart == 2 %}btn-primary{% else %}btn-outline-primary{% endif %}">Cart 2</a>
          <a href="{% url 'cart.view' cart_id=3 %}" class="btn {% if template_data.active_cart == 3 %}btn-primary{% else %}btn-outline-primary{% endif %}">Cart 3</a>
        </div>
      </div>
    </div>
    <div class="row m-1">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in template_data.movies_in_cart %}
          <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.name }}</td>
            <td>${{ movie.price }}</td>
            {% with active_cart_selection=request.session.active_cart|default:"1" %}
            {% with cart_name="cart_"|add:active_cart_selection %}
            {% with current_cart=request.session|get_item:cart_name %}
            <td>{{ current_cart|get_quantity:movie.id }}</td>
            {% endwith %}
            {% endwith %}
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-end">
        <a class="btn btn-outline-secondary mb-2"><b>Total to pay:</b> ${{ template_data.cart_total }}</a>
        {% if template_data.movies_in_cart|length > 0 %}
        <a href="{% url 'cart.purchase' %}" class="btn bg-dark text-white mb-2">Purchase</a>
        <a href="{% url 'cart.clear' %}">
          <button class="btn btn-danger mb-2">
            Remove all movies from Cart
          </button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}