{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3 text-center">
      </div>
      <div class="col-md-6 mx-auto mb-3">
        <hr />
        </p>

        <h2>ALL Reviews</h2>
        <hr />
        <ul class="list-group">
          {% for review in reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Movie: {{ review.movie.name }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              Total Likes: {{ review.likes.count }}
            </h6>
            <p class="card-text">{{ review.comment }}</p>
            
            {% if user.is_authenticated %}
              {% if user in review.likes.all %}
              <a class="btn btn-danger"
                href="{% url 'movies.toggle_like_review' id=review.movie.id review_id=review.id %}">
                Dislike
              </a>
              {% else %}
              <a class="btn btn-primary"
                href="{% url 'movies.toggle_like_review' id=review.movie.id review_id=review.id %}">
                Like
              </a>
              {% endif %}
            
              {% if user == review.user %}
              <a class="btn btn-primary"
                href="{% url 'movies.edit_review' id=review.movie.id review_id=review.id %}">
                Edit
              </a>
              <a class="btn btn-danger"
                href="{% url 'movies.delete_review' id=review.movie.id review_id=review.id %}">
                Delete
              </a>
              {% endif %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <div class="container mt-4">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow p-3 mb-4 rounded">
                <div class="card-body">
                  <b class="text-start">Create a review</b><br /><br />
                    {% csrf_token %}
                    <p>
                      <label for="comment">Comment:</label>
                      <textarea name="comment" required class="form-control" id="comment"></textarea>
                    </p>

                    <div class="text-center">
                      <button type="submit" class="btn bg-dark text-white">
                        Add Review
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}