{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <hr />
        </p>

        <h2>ALL Reviews</h2>
        <hr />
        <ul class="list-group">
          {% for review in template_data.reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Movie: {{ review.movie.name }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              Total Likes: {{ review.likes.count }}
            </h6>
            <p class="card-text">{{ review.comment }}</p>
            <a class="btn btn-primary"
                href="{% url 'movies.show' id=review.movie.id %}">
                See the movie
              </a>

          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>
{% endblock content %}