{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>GT Movies Store</h2>
    <p>Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to the best movie store!!</h4>
        <br>
        <br>
        {% if user.is_authenticated %}
        <h4>Welcome, {{user.username}}
        <br>
        <a class="nav-link" href="{% url 'movies.index' %}">Check out some movies!</a>
        </h4>
        {% else %}
        <h4>
        <a class="nav-link" href="{% url 'accounts.login' %}">Log in or</a>
        <a class="nav-link" href="{% url 'accounts.signup' %}">Create an account to get started!</a> 
        </h4>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}